@value mainColor from '../../common/colors.css';
@value mainGrey from '../../common/colors.css';
@value mainWhite from '../../common/colors.css';
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

.header {
  flex: 1;
  position: sticky;
  height: 60px;
  top: 0;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

.logo {
  cursor: pointer;
}

.sidebarContainer {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebarInner {
  position: fixed;
  background: linear-gradient(
    90deg,
    rgba(104, 148, 186, 0.7572309870550162) 0%,
    rgba(121, 73, 145, 0.6730885922330097) 100%
  );
  top: 0;
  left: -200px;
  height: 100vh;
  transition: all 0.3s;
}

.sideSection.show {
  opacity: 1;
}
.sideSection.show .sidebarInner {
  left: 0;
}
.sidebar {
  display: inline;
  font-family: "Chango", cursive;
}

/* .search {
  display: flex;
  align-items: center;
} */

.searchInput {
  outline: 0;
  border: 0;
}

.searchIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.user {
  background: mainColor;
  color: #ffffff;
  transition: all 100ms ease-in;
}

.user:hover {
  background: mainColor;
  color: mainWhite;
}

.userName:hover {
  background: mainColor;
  color: mainWhite;
}

.container {
  position: absolute;
  top: 30px;
  right: 0;
  visibility: hidden;
}

.container.show {
  visibility: visible;
}
