.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 100%;
}

.contentsContainer {
  width: 100%;
  max-width: 1440px;
  display: grid;

  gap: 20px 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1440px) {
  .contentsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1032px) {
  .contentsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .contentsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
